.datosperrsonales {
    color: black;
    font-size: large;
}

.titulos {
    color: black;
    background-color:  #bfc9ca ;
    font-size: xx-large;
    text-align: center;
}

.descripcion {
    color: black;
    font-size: large;
}

.formacion {
    color: black;
    font-size: large;
}