.datosperrsonales {
    color: black;
    font-size: large;
}

.titulos {
    color: black;
    background-color:   #7f8c8d  ;
    font-size: xx-large;
    text-align: center;
}

.descripcion {
    color: black;
    font-size: large;
}

.formacion {
    color: black;
    font-size: large;
}

.fondo {
    background-color: whitesmoke;
}

.foto {
    text-align: center;
    display: block;
}

